body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.5;
  margin: 0;
  padding: 0;
}

a {
  color: seashell;
}

/*Sizing*/
.container {
  margin: 0 auto;
}

.spacer {
  max-width: 1200px;
  margin: auto;
}

.main {
  background-color: black;
  margin-top: 70px;
}

/*Header Section*/
#header {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid seashell;
  background: black;
}

#header ul {
  text-align: right;
}

#header li {
  list-style: none;
  display: inline-block;
  text-decoration: underline;
  padding: 0 10px 0 10px;
}

.logo {
  height: 50px;
  margin: 10px;
}


#header .container {
  display: flex;
  justify-content: space-between;
}

/*Jumbotron Section*/
.jumbotron {
  background-image: url("images/img-mission-background.jpeg");
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.jumbotron .banner {
  background-color: black;
  width: 1200px;
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.banner h2, .banner h4 {
  margin: 12px;
  text-align: center;
}
